.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    max-width: 350px;
    height: 100vh;
    background-color: #2f3135;
}

.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f3135;
    color: white;
    border-bottom: 3px solid #26282c;
}

.sidebar__channels {
    flex: 1;
    overflow: auto;
}

.sidebar__addChannel {
    cursor: pointer;
}

.sidebar__addChannel:hover {
    color: white;
}

.sidebar__channelsList {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar__channelsList::-webkit-scrollbar {
    display: none;
}

.sidebar__channelHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
    color: gray;
}

.sidebar__header {
    display: flex;
    align-items: center;
}

.sidebar__voice,
.sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    border-top: 1px solid gray;
    padding: 10px;
}

.sidebar__voiceIcon {
    color: #4fb185;
}

.sidebar__voiceInfo {
    flex: 1;
    padding: 10px;
}

.sidebar__voiceInfo > h3 {
    color: #4fb185;
}

.sidebar__voiceInfo > p {
    font-size: smaller;
}

.sidebar__voiceIcons > .MuiSvgIcon-root {
    padding: 10px;
}

.sidebar__profileIcons>.MuiSvgIcon-root:last-child {
    cursor: pointer;
}

.sidebar__profileIcons>.MuiSvgIcon-root:last-child:hover {
    color: white;
}

.sidebar__profileInfo {
    flex: 1;
    padding: 10px;
}

.sidebar__profileInfo > h3 {
    color: white;
}

.sidebar__profileInfo > .MuiSvgIcon-root {
    padding: 10px;
}